        A:hover    {text-decoration:underline; color:#EE00EC}
        LI  {text-align:justify}
        .novell {margin-top:0px; margin-bottom:0px}
		.novell-center {margin-top:0px; margin-bottom:0px; text-align: center}
        .poetry {text-indent:0pt; margin-left:30pt}
        .w {
	color: #AB00DF;
	font-style: italic;
	text-align: justify;
}
        .w I {letter-spacing:2px}
        .w em {letter-spacing:2px}
        .o {color:GREEN; font-style:italic}
        .o I {letter-spacing:2px}
        .o em {letter-spacing:2px}
        .x {color:#00008A; font-style:italic}
        .x I {letter-spacing:2px}
        .x em {letter-spacing:2px}
        .b {color:#004EEA; font-style:italic}
        .b I {letter-spacing:2px}
        .b em {letter-spacing:2px}
        .r {color:#C01413; font-style:italic}
        .r I {letter-spacing:2px}
        .r em {letter-spacing:2px}
        .g {color:#707000; font-style:italic}
        .g I {letter-spacing:2px}
        .g em {letter-spacing:2px}
        P.epi{font-style:italic; text-align:right; font-size:small; text-indent:0pt}
        P.epitablej {text-align:justify; font-style:italic; font-size:small; text-indent:0pt; margin-top:0px; margin-bottom:0px}
        P.epitabler {text-align:right; font-style:italic; font-size:small; text-indent:0pt; margin-top:0px; margin-bottom:0px}
        .center {text-align: center}
        .right {text-align:right}
		
   A:link     {text-decoration: none}
   A:visited  {text-decoration: none}
   A:active   {
	text-decoration: none;
	color: #000000;
}
        .letter {float:left; font-style:italic; font-size:xx-large}
        dt {text-indent:9pt; text-align:justify; font-weight:bold}
        dd {text-indent:10pt; text-align:justify}
        a.rem {text-decoration: none; font-weight: bold; color: #EE00EC; cursor:hand}
        .mat {color:#000000;font-style:normal;font-weight:normal;font-family: symbol, sans-serif;}

BODY {margin:0; padding:0}
DIV.main {
	margin-left: 5%;
	margin-right: 5%;
}
H1 {margin-left:10%; font-size:200%; padding-bottom:0.2em; border-bottom:solid black 1px}
H2 {margin-left:10%; font-size:150%; padding-bottom:0.2em; border-bottom:solid black 1px}

P.autor {margin-left:10%; font-size:150%; padding-bottom:0.2em; font-weight:bold}
H3 {margin-left:10%; font-size:130%; padding-bottom:0.2em}
H4 {margin-left:10%; font-size:110%}
P {text-align:justify; text-indent:1.5em}
OL {text-align:justify; text-indent:1.5em}
UL {text-align:justify; text-indent:1.5em}
/* цитата */
BLOCKQUOTE {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 5em;
	margin-right: 3em;
	border-left: thin solid;
	padding-left: 1%;
}
BLOCKQUOTE P {text-indent:13pt}
BLOCKQUOTE#noline {border-left: none}
/* подпись */
P.signature {margin-top: -0.6em; text-align:right; font-style:italic}
/* сноски */
DIV.footnotes {border-top:solid black 1px; font-size:90%}
/*в связи с изменением размера шрифта приходится указывать непосредственно, инече MSIE не понимает */
DIV.footnotes P {margin-top:0.6em; margin-bottom:0.6em; text-indent:0}
A.footnote {vertical-align:top; font-size:80%; text-decoration:none}
/* навигационные блоки */
.navigate {background-color:black; text-align:right; color:#C000C0; font-size:0.9em; font-weight:bold}
.navigate A {color:#C000C0; text-decoration:none}
.navigate A:hover {color:#FF00FF; text-decoration:underline}
.navigate#box {
        background:                black url('logo6.gif') no-repeat center left;
        padding-left:                48px; /* width of background image */
        padding-right:                5px;
        border:                        1px solid black;
        margin-left:                0;
        margin-right:                0
}
.navigate#horzTools {padding:0.2em 1em 0.4em 1em}
.navigate#vertTools {padding:0.2em 1em 0.4em 1em; border-bottom:solid #C000C0 1px}
/* виньетка */
DIV.vignette {text-align:center; margin-top:0.5em; margin-bottom:0.5em}
acronym {border-bottom:1px dotted #333333;cursor:help}
.pix_r {border-width:0; margin-left:10px; margin-right:10px}
